aseprite
autostart
bleachbit
brinkervii 
cef_user_data
dconf
discord 
evolution
font-manager
fontconfig
geary
gedit
GIMP
gnome-appfolders-manager
gnome-boxes
gnome-control-center
gnome-session
goa-1.0
gpick
gsconnect
gthumb
gtk-2.0
gtk-3.0
gtk-4.0
htop
ibus
libreoffice
lutris
menus
nautilus
neofetch
nitrogen
notion-app-enhanced
pamac
paman
pulse
qt5ct
qt6ct
QtProject
ranger
SoundWire
totem
touchegg
unity3d
VirtualBox
vivaldi
gnome-layout-switcher.conf
GNOME-xdg-terminals.list
kritadisplayrc
kritarc
manjaro-hello.json
mimeapps.list
monitors.xml
monitors.xml~
pavucontrol.ini
Trolltech.conf
user-dirs.dirs
user-dirs.locale
xdg-terminals.list


